@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One:regular);
.hero-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}


.hero-image {
    grid-area: 1 / 1 / 1 / 3;
    background-position: center;
    background-image: url("../images/808.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width:1900px;
}

.hero-title {
    align-content:start;
    text-align:left;
    position: absolute;
    font-size: 120px;
    font-family: url(https://fonts.googleapis.com/css?family=Julius+Sans+One:regular);
    left:40px;

}
.border-image {
    grid-area: 1 / 2 / 1 / 3;
    background-position: center;
    background-image: url("../images/mrwest.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    border-radius: 100%;
    height:500px;
    width:500px;
    position: absolute;
    right:450px
}
.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }