@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One:regular);

* {
    margin: 0
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.talk-grid {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;

}

/* background colour */
body {
    background-color: rgb(242, 247, 242);
}

.hero-image {
    grid-area: 1 / 1 / 1 / 2;
    background-position: center;
    background-image: url("../images/8081.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 1920px;
}

.hero-title {
    align-content: start;
    text-align: left;
    position: absolute;
    font-size: 120px;
    font-family: "Julius Sans One";
    left: 50px;

}

.border-image {
    grid-area: 1 / 1 / 1 / 2;
    background-position: center;
    background-image: url("../images/mrwest.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    border-radius: 100%;
    height: 350px;
    width: 350px;
    position: relative;
    left: 1000px;

}

.blend {
    height: 20px;
    width: 1920px;
    background-color: rgb(248, 106, 106);
    z-index: 1;
    margin-top: calc(-.5em);
}




/* the numbering of each song font */
h2 {
    font-size: 144px;
    line-height: 9rem;
    margin-top: calc(-0.25em);
    font-family: "Julius Sans One";
    position: relative;
    top: -60px;
}

/* font info for song title */
h3 {
    font-size: 35px;
    line-height: 2rem;
    font-family: "Julius Sans One";
    margin-top: calc(.1em);
}

.text-separator {
    height: 5px;
    width: 320px;
    background-color: rgb(248, 106, 106);
    margin-top: calc(-5em);

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: rgb(9, 31, 41);
}

.talk {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.college-dropout {
    grid-column: 2 / span 2;
    background-image: url("../images/the-college-dropout-kanye-west-medium-standard.png");
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: -1.5em;
    background-repeat: no-repeat;

   
}