@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One:regular);
.hero-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}


.hero-image {
    grid-area: 1 / 1 / 1 / 3;
    background-position: center;
    background-image: url("../images/808.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width:1900px;
}

.hero-title {
    text-align: justify;
    position: relative;
    left:-1870px;
    font-family:Julius;
}
